<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipsoon.zipsoonbatch.repository.mapper.PropertyHistoryMapper">
    <insert id="save" parameterType="com.zipsoon.zipsoonbatch.domain.PropertyHistory">
        INSERT INTO property_history (
            property_id, change_type, before_value, after_value, created_at
        ) VALUES (
            #{propertyId}, #{changeType}, #{beforeValue}, #{afterValue}, #{createdAt}
        )
    </insert>
</mapper>