<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipsoon.api.interfaces.mapper.ApiEstateMapper">

    <resultMap id="estateResultMap" type="com.zipsoon.common.domain.Estate">
        <result column="estate_type" property="estateType" typeHandler="com.zipsoon.common.config.typehandler.EstateTypeHandler"/>
        <result column="trade_type" property="tradeType" typeHandler="com.zipsoon.common.config.typehandler.TradeTypeHandler"/>
        <result column="location" property="location" typeHandler="com.zipsoon.common.config.typehandler.PointTypeHandler"/>
    </resultMap>

    <select id="findAllInViewport" resultMap="estateResultMap">
        SELECT * FROM estate
        WHERE ST_Intersects(
            location,
            ST_MakeEnvelope(
                #{viewport.swLng},
                #{viewport.swLat},
                #{viewport.neLng},
                #{viewport.neLat},
                ${srid}
            )
        )
        LIMIT #{limit}
    </select>

    <select id="findById" resultMap="estateResultMap">
        SELECT *
        FROM estate
        WHERE id = #{id}
    </select>

</mapper>