<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipsoon.api.infrastructure.mapper.user.UserDisabledScoreTypeMapper">
    
    <select id="selectDisabledScoreTypeIdsByUserId" resultType="java.lang.Integer">
        SELECT score_type_id
        FROM user_disabled_score_type
        WHERE user_id = #{userId}
    </select>
    
    <insert id="insert" parameterType="com.zipsoon.api.domain.user.UserDisabledScoreType">
        INSERT INTO user_disabled_score_type (user_id, score_type_id, created_at)
        VALUES (#{userId}, #{scoreTypeId}, #{createdAt})
        ON CONFLICT (user_id, score_type_id) DO NOTHING
    </insert>
    
    <delete id="delete">
        DELETE FROM user_disabled_score_type
        WHERE user_id = #{userId} AND score_type_id = #{scoreTypeId}
    </delete>
</mapper>