<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipsoon.batch.estate.mapper.EstateSnapshotMapper">

    <resultMap id="EstateSnapshotResultMap" type="EstateSnapshot">
        <result column="platform_type"
                property="platformType"
                typeHandler="com.zipsoon.common.config.typehandler.PlatformTypeHandler"/>
        <result column="raw_data"
                property="rawData"
                typeHandler="com.zipsoon.common.config.typehandler.JsonTypeHandler"/>
        <result column="estate_type"
                property="estateType"
                typeHandler="com.zipsoon.common.config.typehandler.EstateTypeHandler"/>
        <result column="trade_type"
                property="tradeType"
                typeHandler="com.zipsoon.common.config.typehandler.TradeTypeHandler"/>
        <result column="location"
                property="location"
                typeHandler="com.zipsoon.common.config.typehandler.PointTypeHandler"
                jdbcType="OTHER"/>
        <result column="tags"
                property="tags"
                typeHandler="com.zipsoon.common.config.typehandler.StringArrayTypeHandler"/>
    </resultMap>

    <insert id="insertEstateSnapshots" parameterType="java.util.List">
        INSERT INTO estate_snapshot (
            platform_type,
            platform_id,
            raw_data,
            estate_name,
            estate_type,
            trade_type,
            price,
            rent_price,
            area_meter,
            area_pyeong,
            location,
            address,
            tags,
            dong_code,
            created_at
        ) VALUES
        <foreach collection="list" item="estateSnapshot" separator=",">
            (
            #{estateSnapshot.platformType, typeHandler=com.zipsoon.common.config.typehandler.PlatformTypeHandler},
            #{estateSnapshot.platformId},
            #{estateSnapshot.rawData, typeHandler=com.zipsoon.common.config.typehandler.JsonTypeHandler},
            #{estateSnapshot.estateName},
            #{estateSnapshot.estateType, typeHandler=com.zipsoon.common.config.typehandler.EstateTypeHandler},
            #{estateSnapshot.tradeType, typeHandler=com.zipsoon.common.config.typehandler.TradeTypeHandler},
            #{estateSnapshot.price},
            #{estateSnapshot.rentPrice},
            #{estateSnapshot.areaMeter},
            #{estateSnapshot.areaPyeong},
            #{estateSnapshot.location, typeHandler=com.zipsoon.common.config.typehandler.PointTypeHandler, jdbcType=OTHER},
            #{estateSnapshot.address},
            #{estateSnapshot.tags, typeHandler=com.zipsoon.common.config.typehandler.StringArrayTypeHandler},
            #{estateSnapshot.dongCode},
            #{estateSnapshot.createdAt}
            )
        </foreach>
    </insert>

    <select id="selectLatestAll" resultType="EstateSnapshot" resultMap="EstateSnapshotResultMap">
        SELECT *
        FROM estate_snapshot
    </select>

</mapper>