<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zipsoon.batch.score.mapper.ScoreTypeMapper">
    <select id="findAllActive" resultType="com.zipsoon.batch.score.model.ScoreType">
        SELECT * FROM score_type WHERE active = true
    </select>

    <select id="findByName" resultType="com.zipsoon.batch.score.model.ScoreType">
        SELECT * FROM score_type WHERE name = #{name}
    </select>
</mapper>