spring:
  datasource:
    driver-class-name: org.postgresql.Driver
  batch:
    job:
      enabled: true
    jdbc:
      initialize-schema: always

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.zipsoon.common.domain
  configuration:
    map-underscore-to-camel-case: true

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO
    org.springframework.batch: DEBUG
    com.zipsoon.batch: DEBUG

naver:
  land:
    base-url: ${NAVER_LAND_BASE_URL}
    auth-token: ${NAVER_LAND_AUTH_TOKEN}