<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zipsoon.zipsoonapp.repository.mapper.PropertyMapper">
    <select id="findPropertiesWithinDistance" resultType="com.zipsoon.zipsoonapp.domain.Property">
        SELECT
            p.*,
            ST_Distance(
                p.location::geography,
                ST_SetSRID(ST_MakePoint(#{coord.x}, #{coord.y}), 4326)::geography
            ) as distance
        FROM property p
        WHERE ST_DWithin(
            p.location::geography,
            ST_SetSRID(ST_MakePoint(#{coord.x}, #{coord.y}), 4326)::geography,
            #{radius}
        )
        ORDER BY distance
    </select>
</mapper>